.title-about{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
}

.intro{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.images{
    display: flex;
	align-items: center;
	margin-top: 60px;
	padding-left: 210px;
}

.hackduke{
    height: 5.5cm;
}

.dukecs{
    height: 5.5cm;
}

.catalyst{
    height: 5.5cm;
}