.project-container{
    margin-top: 40px;
}

.project-title{
    font-size: 25px;
    margin-left: 80px;
}

.project-description{
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 150px;
}