.resume-image{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 35cm;
    width: 25cm;
    margin-top: 40px;
}

.wrapper-resume{
    background: #85e7ee;
	 background: -webkit-linear-gradient(top left, rgb(53, 100, 196) 0%, #85e7ee 100%);
	 background: -moz-linear-gradient(top left, rgb(53, 100, 196) 0%, #85e7ee 100%);
	 background: -o-linear-gradient(top left, rgb(53, 100, 196) 0%, #85e7ee 100%);
	 background: linear-gradient(to bottom right, rgb(53, 100, 196) 0%, #85e7ee 100%);
	 position: absolute;
	 top: 50%;
	 left: 0;
	 width: 100%;
	 height: 42cm;
     margin-top: -350px;
     overflow: hidden;
}