@import url(https://fonts.googleapis.com/css?family=Source);
 
.header{
	font-size: 4vh;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	padding: 20px;
	justify-content: center;
	align-content: center;
	align-items: center;
  }

  .home-button:hover, .about-button:hover, .project-button:hover, .resume-button:hover, .contact-button:hover{
	cursor: pointer;
	text-decoration: underline;
  }

  .propic{
	height:330px;
	padding-bottom: -100px;
	padding-top: -10px;
  }

  .divider{
	  width: 50px;
	  height: auto;
	  display: inline-block;
  }

  .divider2{
	width: 25px;
	height: auto;
	display: inline-block;
}

.text{
	width: 500px;
}

 body {
	 font-family: "Source Sans Pro", sans-serif;
	 color:white;
	 font-weight: 300;
}

 .wrapper {
	 background: #50a3a2;
	 background: -webkit-linear-gradient(top left, #4E84F0 0%, #53e3a6 100%);
	 background: -moz-linear-gradient(top left, #4E84F0 0%, #53e3a6 100%);
	 background: -o-linear-gradient(top left, #4E84F0 0%, #53e3a6 100%);
	 background: linear-gradient(to bottom right, #4E84F0 0%, #53e3a6 100%);
	 position: absolute;
	 top: 50%;
	 left: 0;
	 width: 100%;
	 height: 800px;
     margin-top: -350px;
	 overflow: hidden;
}

 .wrapper.form-success .container h1 {
	 transform: translateY(85px);
}

 .container {
	 display: flex;
	 max-width: 1100px;
	 margin: 0 auto;
	 padding: 80px;
	 height: 400px;
	 text-align: center;
	 align-items: center;
}

 .container h1 {
	 font-size: 40px;
	 transition-duration: 1s;
	 transition-timing-function: ease-in-put;
     font-weight: 200;
     padding-top: 0px;
}

.link-icons{
	display: flex;
	align-items: center;
	margin-top: 50px;
	padding-left: 150px;
}

.linkedin{
	height:50px;
}

.github{
	height:50px;
}

.gitlab{
	height:50px;
}